@import 'extra';

.no-results {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}

.browse-container {
  @include desktop {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    grid-auto-rows: 1fr;
  }
  .house-view {
    margin: 5px auto;
    transition: all 0.3s;
    //margin: 5px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px grey;
    max-width: 400px;

    .home-type {
      margin-left: 5px;
      font-size: 13px;
      font-weight: lighter;
      color: #444;
      font-size: 0.9em;
    }

    img { 
      width: 100%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .price {
      margin-left: 5px;
      font-size: 20px;
    }

    .buy-button {
      display: none;
    }

    .featured-label {
      // position
      position: absolute;
      top: 5px;
      left: 5px;
      // look
      color: black;
      background-color: #f1f1f1;
      width: 95px;
      border-radius: 5px;
      text-align: center;
      text-transform: uppercase;
    }

    .address {
      font-size: 14px;
      margin-left: 5px;
    }

    .extra-info {
      padding-left: 5px;
    }

    .extras {
      font-size: 14px;
    }
  }
}

.house-view:hover {
  .buy-button {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 0.35em 1.2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
  }

  .buy-button:hover {
    color: #ffffff;
    background-color: #000000;
  }
}