@import 'extra';

a {
  text-decoration: none;
  color: black;
}
.house-view {
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 20px;

  .home-type {
    font-size: 20px;
  }

  img { 
    width: 350px;
    height: 200px;
  }

  .buy-button {
    display: none;
  }

  .featured-label {
    // position
    position: absolute;
    top: 5px;
    left: 5px;
    // look
    color: green;
    background-color: yellow;
    width: 95px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
  }
}

.house-view:hover {
  .buy-button {
    display: inline-block;
    position: absolute;
    text-align: center;
    bottom: 5px;
    right: 20px;
    background-color: color(color2);
    border-radius: 5px;
    width: 50px;
    height: 30px;
  }

  .buy-button:hover {
    background-color: color(color1);
  }
}