@import 'extra';

.header {
  background-color: transparent;
  padding: 20px 10px;
  text-align: center;

  .logo {
    margin-left: 10px;
  }

  a {
    color: black;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.2s;
  }

  a:hover {
    background-color: #ddd;
  }

  .logo {
    font-size: 25px;
  }


}