body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans';
  margin: 0;
}

@import '../styles/extra';
@import '../styles/browse';
@import '../styles/footer';
@import '../styles/header';
@import 'landingpage';
@import '../styles/homefilter';
@import '../styles/singleview';